.hero-block {
    
    display: flex;
    justify-content: center;
    margin-top: 120px;

    &__img {
        max-width: 300px;
        @media (max-width: 600px) {
            max-width: 150px;
        }
    }
}
